<div class="container">

  <div class="row build-table-header">
    <div class="changelist-header column">Changelist / Build</div>
    <div class="owner column">Owner</div>
    <div class="time-started column">Time Started</div>
    <div class="state column">State</div>
    <div class="metrix column">Metrics</div>
    <div class="build column">Build</div>
    <div class="unit-test column">Unit Test</div>
    <div class="functional-test column">Functional Test</div>
  </div>

<div data-build-row model="build" data-active="activeBuildId === build.id" data-ng-click="onRowClicked(build)" data-ng-repeat="build in builds track by build.id">

</div>
</div>
